<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rocketpass Starter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <% if notice %>
      <p style="color: green"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p style="color: red"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  
</html>

